<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<link rel="shortcut icon" type="image/x-icon" th:href="favicon.png" />
		<meta charset="ISO-8859-1">
		<script src="styleScripts/jquery.js" type="text/javascript"></script>
		<script src="styleScripts/angular.js" type="text/javascript"></script>
		<script src="styleScripts/script.js" type="text/javascript"></script>
		<script src="styleScripts/bootstrap.js" type="text/javascript"></script>
		<link rel="stylesheet" type="text/css" href="styleScripts/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="styleScripts/style.css"/>
    <title>Registered | Swiss Bank</title>    
</head>
<body>
	
	<header>
		<img src="logo_title.png">
	</header>
	<div class="loggedInUserData">
		<form method="POST" class="logoutForm" th:action="@{/logout}">		
			<div class="col-lg-8">
				<img id="userDP" class="userProfilePic" th:src="${'userImage/'+user.image}">
			</div>
			<input type="submit" value="logout">
		</form>
	</div>
	<div class="successMessage"><h1>Successfully Registered!</h1></div>
</body>
</html>