<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<link rel="shortcut icon" type="image/x-icon" th:href="favicon.png" />
		<meta charset="ISO-8859-1">
		<script src="styleScripts/jquery.js" type="text/javascript"></script>
		<script src="styleScripts/angular.js" type="text/javascript"></script>
		<script src="styleScripts/script.js" type="text/javascript"></script>
		<script src="styleScripts/bootstrap.js" type="text/javascript"></script>
		<link rel="stylesheet" type="text/css" href="styleScripts/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="styleScripts/style.css"/>
    <title>Home | Swiss Bank</title>
</head>
<body>
	
	<header>
		<img src="logo_title.png">
	</header>
	<div class="loggedInUserData">
		[[${#request.userPrincipal.principal.fullName}]]<br>
		[[${#request.userPrincipal.principal.additionalDetails}]]<br>
		<form method="POST" class="logoutForm" th:action="@{/logout}">
			<input type="submit" value="logout">
		</form>
	</div>
	<div class="row">
		<div class="actionTab col-lg-4">
			<nav>
				<div class="acionTab btn-group-vertical">
				<button type="button" class="btn btn-primary" th:onClick="|window.location.href='/'|">Home</button>
				<button type="button" class="btn btn-primary" th:onClick="|window.location.href='/createNewAccount'|">Create New Account</button>
				<button type="button" class="btn btn-primary" th:onClick="|window.location.href='/accountSummary'|">Account Summary</button>
				<button type="button" class="btn btn-primary" th:onClick="|window.location.href='/updateAccount'|">Account Update</button>		
				<button type="button" class="btn btn-primary" th:onClick="|window.location.href='/approve'|">Approve Transactions</button>				
				<button type="button" class="btn btn-primary" th:onClick="|window.location.href='/transactionsSummary'|">Transactions</button>
				<button type="button" class="btn btn-primary" th:onClick="|window.location.href='/transferFunds'|">Transfer Fund</button>
				<button type="button" class="btn btn-primary" th:onClick="|window.location.href='/feedback'|">Support and Feedback</button>
				</div>
			</nav>
		</div>
		<div class="menuTab col-lg-8">
			<div th:if="${countOfTransaction!=0}">
				<div class="AllTransactionDetails">
					<table>
						<thead>
							<tr>
								<td>Transaction Id</td>
								<td>Status</td>
								<td>Credited Amount</td>
								<td>Debited Amount</td>
								<td>Date of Transaction</td>
								<td>Type of Transaction</td>
								<td>From Account Number</td>
								<td>To Account Number</td>
								<td>Approved</td>
								<td>Approval Required</td>
							</tr>
						</thead>
						<tbody>
							<tr th:each="transaction : ${transactions}">
								<td th:text="${transaction.id}"></td>
								<td th:text="${transaction.status}"></td>
								<td th:text="${transaction.creditedAmount}"></td>
								<td th:text="${transaction.debitedAmount}"></td>
								<td th:text="${transaction.dateOfTransaction}"></td>
								<td th:text="${transaction.type}"></td>
								<td th:text="${transaction.fromAccountNumber}"></td>
								<td th:text="${transaction.accountNumber}"></td>
								<td th:text="${transaction.approved}"></td>
								<td th:text="${transaction.approvalRequired}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div th:if="${countOfTransaction==0}">
			<h3 style="color:white;">
				You haven't made any transactions yet. Please consider giving us a chance.
				<a href="/transferFunds">transact</a>
			</h3>
			</div>
		</div>
	</div>
</body>
</html>